ion-button {
    --background: white;
}

.close-button {
    font-size: 32px;
    margin-right: .5em;
}

.color {
    font-size: 24px;
}

.red {
    color: red;
}

.pink {
    color: pink;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.brown {
    color: brown;
}

.black {
    color: black;
}

.white {
    color: white;
}

.gray {
    color: #808080;
}

.magenta {
    color: #811a74;
}