<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-icon src="/assets/md-close.svg" class="close-button" (click)="closeModal()"></ion-icon>
    </ion-buttons>
    <ion-title>New Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label class="underline" position="stacked">Name</ion-label>
    <ion-input type="text" [(ngModel)]="category.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="underline" position="stacked">Color</ion-label>
    <ion-input type="text" [(ngModel)]="category.colorName" disabled></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('red','#ff0000')">
          <ion-icon src="/assets/md-water.svg" class="color red"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('pink','#FFC0CB')">
          <ion-icon src="/assets/md-water.svg" class="color pink"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('yellow','#ffff00')">
          <ion-icon src="/assets/md-water.svg" class="color yellow"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('orange','#ffa500')">
          <ion-icon src="/assets/md-water.svg" class="color orange"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('green','#008000')">
          <ion-icon src="/assets/md-water.svg" class="color green"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('blue','#0000ff')">
          <ion-icon src="/assets/md-water.svg" class="color blue"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('purple','#800080')">
          <ion-icon src="/assets/md-water.svg" class="color purple"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('brown','#a52a2a')">
          <ion-icon src="/assets/md-water.svg" class="color brown"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('gray','#808080')">
          <ion-icon src="/assets/md-water.svg" class="color gray"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('black','#000000')">
          <ion-icon src="/assets/md-water.svg" class="color black"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('magenta','#811a74')">
          <ion-icon src="/assets/md-water.svg" class="color magenta"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('white', '#ffffff')">
          <ion-icon src="/assets/md-water.svg" class="color white"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveTodo()" color="tertiary">
      <ion-icon src="/assets/md-save.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>