<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-icon src="/assets/md-close.svg" class="close-button" (click)="closeModal()"></ion-icon>
    </ion-buttons>
    <ion-title>New Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label class="underline" position="stacked">Name</ion-label>
    <ion-input type="text" [(ngModel)]="category.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="underline" position="stacked">Color</ion-label>
    <ion-input type="text" [(ngModel)]="category.colorCode" disabled></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('#808080')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#808080')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#000000')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#000000')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#811a74')" >
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#811a74')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#ffffff')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#ffffff')"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('#4c6085')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#4c6085')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#39a0ed')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#39a0ed')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#36f1cd')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#36f1cd')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#13c4a3')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#13c4a3')"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('#3626a7')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#3626a7')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#657ed4')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#657ed4')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#ff331f')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#ff331f')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#ffb400')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#ffb400')"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('#ef2d56')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#ef2d56')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#ed7d3a')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#ed7d3a')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#8cd867')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#8cd867')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#2fbf71')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#2fbf71')"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('#fff000')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#fff000')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#ff0151')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#ff0151')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#2b2d42')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#2b2d42')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#8d99ae')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#8d99ae')"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="selectColor('#81f4e1')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#81f4e1')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#56cbf9')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#13124e')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#ff729f')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#ff729f')"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="selectColor('#d3c4d1')">
          <ion-icon src="/assets/md-water.svg" class="color" [ngStyle]="setIconColor('#d3c4d1')"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveTodo()" color="tertiary">
      <ion-icon src="/assets/md-save.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>