ion-button {
    --background: var(--ion-color-primary-contrast);
}

ion-item {
    --ion-item-background: var(--ion-color-light);
    padding-bottom: 1.5em;
}

.close-button {
    font-size: 32px;
    margin-right: .5em;
}

.color {
    font-size: 24px;
}

.red-1 {
    color: '#cc0000';
}

.red-2 {
    color: '#a30000';
}

.red-3 {
    color: '#8b0000';
}

.red-4 {
    color: '#470000';
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.brown {
    color: brown;
}

.black {
    color: black;
}

.white {
    color: white;
}

.gray {
    color: #808080;
}

.magenta {
    color: #811a74;
}