<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-icon src="/assets/md-close.svg" class="close-button" (click)="closeModal()"></ion-icon>
    </ion-buttons>
    <ion-title>New Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Whaddua Got to Get Done</ion-label>
    <ion-input type="text" [(ngModel)]="todo.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="selectedCategory">
      <ion-select-option *ngFor="let category of todoService.todoCategories" [value]="category">{{category.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Details</ion-label>
    <ion-textarea type="text" [(ngModel)]="todo.details" rows="12"></ion-textarea>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveTodo()" color="tertiary">
      <ion-icon src="/assets/md-save.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>