.fab-vertical-bottom {
    bottom: 2em;
}

ion-item {
    --ion-item-background: var(--ion-color-light);
    padding-bottom: 1.5em;
}

.underline {
    text-decoration: underline;
}

.close-button {
    font-size: 32px;
    margin-right: .5em;
}

.settings-icon {
    font-size: 24px;
    margin-right: .5em;
}