<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="none">
    <ion-item *ngFor="let category of (todoCategories)" (click)="presentTodoCategoryCreateModal(category)">
      <ion-icon slot="start" name="logo-ionitron" [ngStyle]="setIconColor(category.colorCode)"></ion-icon>
      <ion-icon slot="end" name="close" class="trash" (click)="deleteCategory(category, $event)"></ion-icon>
      <ion-label>
        {{ category.name }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentTodoCategoryCreateModal(newTodoCategory)" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>