ion-item {
  --border-radius: 75px;
  --ion-item-background: var(--ion-color-light);
  padding-bottom: 0.5em;
  --min-height: 0;
}

ion-icon {
  font-size: 32px;
  margin:0;
}

ion-label {
  margin-left: 1em;
  margin-bottom: 5px;
  margin-top: 5px;
}

.group-icon-all {
  font-size: 10px;
  margin-right: 1em;
}

.group-icon-grouped {
  font-size: 18px;
}

.segment-height {
  height: 2em;
}

.group-header {
  --border-radius: 0px;
  --min-height: 0;
  --ion-item-background: var(--ion-color-light);
  padding-bottom: 0em;
  padding-top: 1em;
  font-weight: bold;
}

.group-item {
  --border-radius: 0px;
  padding-bottom: 0em;
}

.settings-icon {
  font-size: 24px;
  margin-right: .5em;
}

.gold-star {
  color: gold;
}