<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-icon src="/assets/md-settings.svg" class="settings-icon" (click)="goToSettings()"></ion-icon>
    </ion-buttons>
    <ion-title>Still To Do</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-segment (ionChange)="segmentChanged($event)" class="segment-height">
      <ion-segment-button checked value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="group">
        <ion-label>By Category</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none" *ngIf="!grouped">
    <ion-item *ngFor="let todo of (todoService.todos | callback: filterTodo)" (click)="routeToEdit(todo.id)">
      <ion-icon slot="start" src="/assets/md-radio-button-off.svg" (click)="toggleCompleted(todo, $event)"></ion-icon>
      <ion-label>
        <ion-text>{{ todo.title }}</ion-text>
        <p>
          <ion-icon src="/assets/md-square.svg" class="group-icon-all" [ngStyle]="setIconColor(todo.categoryColorCode)"
            *ngIf="!isEmpty(todo.categoryId)"></ion-icon>{{todo.categoryName}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="
            full" *ngIf="grouped">
    <ion-item-group *ngFor="let group of (todoService.groupedTodos)">
      <ion-item class="group-header ">
        <ion-icon src="/assets/md-water.svg" class="group-icon-grouped" [ngStyle]="getColorCode(group.categoryId)" *ngIf="!isEmpty(group.categoryId)"></ion-icon>
        <ion-label *ngIf="isEmpty(group.categoryId)">No Category</ion-label>
        <ion-label *ngIf="!isEmpty(group.categoryId)">{{ getCategoryName(group.categoryId) }}</ion-label>
      </ion-item>
      <ion-item *ngFor="let todo of (group.todos | callback: filterTodo)" (click)="routeToEdit(todo.id)" class="group-item">
        <ion-icon slot="start" src="/assets/md-square-outline.svg" (click)="toggleCompleted(todo, $event)"></ion-icon>
        <ion-label>
          <ion-text>{{ todo.title }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentCreateTodoModal()" color="tertiary">
      <ion-icon src="/assets/md-add.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>