<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Still To Do</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-item *ngFor="let todo of (todoService.todos | callback: filterTodo)" routerLink="/edit/{{todo.id}}">
      <ion-icon slot="start" name="radio-button-off" (click)="toggleCompleted(todo, $event)"></ion-icon>
      <ion-label>
        <ion-text>{{ todo.title }}</ion-text>
        <p>{{ todo.details }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createTodo()" color="tertiary">
        <!-- <ion-fab-button (click)="presentAlertPrompt()" color="tertiary"> -->
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>