<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todo">
      <ion-icon name="locate"></ion-icon>
      <ion-label>To Do</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="completed">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Completed</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>


<!-- <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Second Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-button expand="block" routerLink="/menu/second/details" routerDirection="forward">
      Details forward
    </ion-button>
  </ion-content> -->