<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/todo"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ todo.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label class="underline" position="stacked">Whaddua Got to Get Done</ion-label>
    <ion-input type="text" [(ngModel)]="todo.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="selectedCategory" interface="popover">
      <ion-select-option *ngFor="let category of todoService.todoCategories" [value]="category">{{category.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="underline" position="stacked">Details</ion-label>
    <ion-textarea type="text" [(ngModel)]="todo.details" rows="12"></ion-textarea>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveTodo()" color="tertiary">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>