.fab-vertical-bottom {
  bottom: 2em;
}

ion-item {
  --ion-item-background: var(--ion-color-light);
  padding-bottom: 1.5em;
}

.underline {
  text-decoration: underline;
}

.back-arrow {
  font-size: 32px;
  margin-left: .5em;
}